# This is a basic workflow to help you get started with Actions

name: RSS Feed Automation

# Controls when the workflow will run
on:
  schedule:
    # Runs at 01:42 UTC every day (9:42 AM Beijing Time)
    - cron: '42 01 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # GitHub 会在运行步骤之前，自动拉取并启动flaresolverr容器
    services:
      flaresolverr:
        image: ghcr.io/flaresolverr/flaresolverr:latest
        ports:
          - 8191:8191 # 将容器的 8191 映射到虚拟机的 8191
        options: >-
          --health-cmd "wget --no-verbose --tries=1 --spider http://localhost:8191/health || exit 1"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install feedparser requests beautifulsoup4 pandas tqdm pyyaml google-generativeai openai
  
      - name: Install system dependencies
        run: |
          # sudo apt-get update
          sudo apt-get install -y libnss3 nss-plugin-pem ca-certificates wget tar
      
      - name: Download and extract curl-impersonate
        run: |
          wget https://github.com/lwthiker/curl-impersonate/releases/download/v0.6.1/curl-impersonate-v0.6.1.x86_64-linux-gnu.tar.gz
          tar -zxvf curl-impersonate-v0.6.1.x86_64-linux-gnu.tar.gz
          
      - name: Run Python script
        env:
          KEY_GENAI: ${{ secrets.KEY_GENAI }}  # set up your GENAI token from gemini
          SILICONFLOW_API_KEY: ${{ secrets.SILICONFLOW_API_KEY }}  # set up your SiliconFlow API key
          WEBHOOK_WPS: ${{ secrets.WEBHOOK_WPS }}  # set up your Webhook for WPS
        run: |
          python paperlens_rss.py  # Replace this with the actual path to your script

      - name: Commit and Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.KEY_GITHUB }}  # set up your GITHUB token
        run: |
            git config --global user.name 'github-actions[bot]'
            git config --global user.email 'github-actions[bot]@users.noreply.github.com'
            git add paper_entries
            git commit -m "Update"
            git push origin main
